// rem => better support for flexibility
// 1rem = generally 16px, 10px here. See below

html {
    // This makes 1rem = 10px
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}